* {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}
.app{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}